body, html {
    margin: 0;
    padding: 0;
}

body {
    background: #F6F6F6;
    font-family: 'Inter', sans-serif;
}

.inicio {
    margin: 0 0 90px 0;
}

.inicio nav {
    text-align: end;
}

.inicio nav button {
    margin: 25px;
    padding: 12px 23px;

   border: #ffffff; 
   border-radius: 21px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
   
   background: #ffffff;
   color: #4461F2; 
   font-weight: 700;
}

.inicio nav .stylebuton {
    background: none;
    box-shadow: none;
    border-radius: 0px;

    padding: 0 0 5px 0;

    border-bottom: #4461F2 solid 3px;
}

#manchamarela {
    width: 513px;
    height: 358px;
    
    z-index: -1;
    position: absolute;

    margin: 0 0 35px 0;
    
}

#manchazul {
    width: 551px;
    height: 366px; 

    z-index: -2;
    position: absolute;

    margin: 0 0 0 30px;

}

.conteudo {
    display: flex;
    gap: 15px;
    justify-items: center;
    align-items: center;

    height: 100%;

    margin: 200px 120px 0 120px;
}

.conteudo div h1 {
    font-size: 58px;
    font-weight: 700;

    padding-bottom: 46px;
    margin: 0;
}

.conteudo div p {
    font-size: 22px;
    font-weight: 600;
}

.conteudo div p span {
    color: #0983F5;
}

.conteudo img {
    width: 504px;
    height: 424px; 

}

.login input {
    margin: 10px 0;
    padding: 0 0 0 10px;

    background: #EAF0F7; 
    border: #EAF0F7 solid 1px;
    border-radius: 10px;

    width: 400px;
    height: 60px; 
}

.login button {
    width: 400px;
    height: 60px; 

    border: #4461F2 solid 1px;
    border-radius: 10px;
    background: #4461F2;
    box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15); 
    
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
}